.chat__header {
    margin: 50px 0 20px 0;
    color: rgb(7, 5, 5);
    font-size: italic;
    white-space: pre;
  }
  .chat__users > * {
    margin-bottom: 10px;
    color: #607eaa;
    font-size: 30px;
   
  
  }
  .chat__users button{
    color: rgb(12, 7, 7);
    font-style: italic;
  }
  .chat__sidebar {
    
    height: 100%;
    background-color:  rgb(235, 235, 245);
   
    flex: 10;
    padding: 10px;
    border-right: 1px solid #fdfdfd;
  }
  .chat__sidebar h1{
    color: rgb(10, 8, 8);
    font-style: italic;
  }