.nav-barre-style{
    background-color:white;
    height: 5rem;
}
.brand-name{
    font-weight: bold;
    color:#605DEC;
    font-size: xx-large;


}

.btn-blue{
    background-color:#605DEC;
    border-radius: 5px;
    color: rgb(255, 255, 255);
  }
  svg{
    width: 2rem;
    height: 2rem;
  }
  .image-flight {
    width:100%;
    height: 20rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size:x-large;
    font-weight:500;
  }
