.carousel-slide-home{
    /* border: 1px black solid; */
    width: 100%;
    height: 50rem;
    background-image: url('../images/slide1.png');
}
.text-slide{
    color:#605DEC ;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    /* background-image: url('../../app/images/color-txt.png'); */
}
.barre-search{
    /* padding-top: 2rem; */
    width: 100%;
    background-color: white !important;
}
.col-search{
    /* border: 1px solid black; */
    border: 1px solid rgb(160, 160, 160);
    height: 2.5rem;
    display: flex;


}